.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
}

.second-logo {
  width: 270px;
  height: 49px;
  color: white;
}