<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
  </div>
  <%= link_to "MYBRAND", root_path, class:"second-fotter-logo"%>
</footer>