a {
  text-decoration: none;
}

.main {
  background: black;
}

/* ブランドロゴ */
.title-contents {
  height: 50vh;
  width: 100vw;
  background-image: image-url('title_back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.brand-title {
  font-size: 18vh;
  color: black;
  margin: 0 auto;
}


/* 新着商品 */
.new-arrival-contents {
  padding: 5vh 15vw;
}

.new-arrival-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
  color: white;
}

.new-arrival-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.new-arrival-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.new-arrival-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.list-text {
  font-size: 18px;
  line-height: 50px;
  color: white;
}


/* 商品開発リンク */
.product-nav {
  width: 100vw;
  background-image: image-url('title_back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.product-title {
  font-size: 5vh;
  margin-bottom: 2vh;
  color: black;
}

.product-text {
  font-size: 2.5vh;
  line-height: 30px;
  color: white;
}


/* 商品一覧 */

.item-contents {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  color: white;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
  margin-bottom: 5vh;
}

.item-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  margin-top: 10px;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 14vw;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


