a {
  text-decoration: none;
}

.main {
  background: black;
}

/* ブランドロゴ */
.title-contents {
  height: 50vh;
  width: 100vw;
  background-image: image-url('title_back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.brand-title {
  font-size: 18vh;
  color: black;
  margin: 0 auto;
}


/* 開発商品一覧 */

.product-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  color: white;
  background-color: black;
}

.product-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
  margin-bottom: 5vh;
}

.product-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.product-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
}

.product-lists>.list {
  width: 60vh;
  padding: 1vw;
  background-color: #FFF;
  margin: 20px 0;
}


.product-img-content {
  position: relative;
}

.product-img {
  width: 56vh;
  height: 50vh;
}

.product-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.product-name {
  font-size: 2.5vh;
}

.product-description {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}